In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
pd.set_option('max_columns', 50)
%matplotlib inline

In [2]:
x = np.r_[1, 2, 3]
y = np.r_[4, 6, 8]
x @ y.T

40

In [3]:
msa = (y - x).mean(axis=None)

In [4]:
msa

4.0

In [40]:
z = np.r_[3, 5, 7, 9]
index = [0, 1]
new_z = np.delete(z, index)
np.append(new_z, np.repeat(np.nan, 2))

array([  7.,   9.,  nan,  nan])

In [41]:
index2 = [2, 3]
new_z2 = np.delete(z, index2)
print (np.r_[np.repeat(np.nan, 2),new_z2])

[ nan  nan   3.   5.]

In [42]:
np.random.seed(55555)
n=4
d=2 
A=np.random.rand(n,d)
B=np.random.rand(n,1)

In [43]:
A

array([[ 0.12910447,  0.87215227],
       [ 0.79550388,  0.87877053],
       [ 0.44954347,  0.57533973],
       [ 0.82941516,  0.87311489]])

In [44]:
B

array([[ 0.14097073],
       [ 0.8995075 ],
       [ 0.88931461],
       [ 0.75743052]])

In [45]:
(A-B)**2

array([[  1.40808311e-04,   5.34626434e-01],
       [  1.08167515e-02,   4.30021954e-04],
       [  1.93398651e-01,   9.85802255e-02],
       [  5.18178777e-03,   1.33828727e-02]])

In [46]:
%cd /Users/matteoballerinipuviani/UU/QUEA/we

/Users/matteoballerinipuviani/UU/QUEA/we

In [47]:
flights = pd.read_csv("flights.csv")

In [48]:
flights.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0,2013-01-01 01:00:00
1,EWR,2013,1,1,1,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0,2013-01-01 02:00:00
2,EWR,2013,1,1,2,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0,2013-01-01 03:00:00
3,EWR,2013,1,1,3,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0,2013-01-01 04:00:00
4,EWR,2013,1,1,4,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0,2013-01-01 05:00:00

In [24]:
flights["celsius"] = (flights.temp - 32) * 5/9

In [25]:
flights.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour,celsius
0,EWR,2013,1,1,0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0,2013-01-01 01:00:00,2.8
1,EWR,2013,1,1,1,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0,2013-01-01 02:00:00,2.8
2,EWR,2013,1,1,2,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0,2013-01-01 03:00:00,3.3
3,EWR,2013,1,1,3,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0,2013-01-01 04:00:00,3.3
4,EWR,2013,1,1,4,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0,2013-01-01 05:00:00,3.3

In [26]:
jfk = flights.loc[flights['origin'] == 'JFK']

In [27]:
jfk

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour,celsius
8708,JFK,2013,1,1,0,37.94,23.00,54.51,240.0,16.11092,18.540125,0.0,1014.4,10.0,2013-01-01 01:00:00,3.3
8709,JFK,2013,1,1,1,37.94,24.08,57.04,250.0,17.26170,19.864419,0.0,1013.5,10.0,2013-01-01 02:00:00,3.3
8710,JFK,2013,1,1,2,39.02,24.98,56.77,240.0,19.56326,22.513008,0.0,1013.0,10.0,2013-01-01 03:00:00,3.9
8711,JFK,2013,1,1,3,39.02,26.06,59.37,240.0,18.41248,21.188714,0.0,1013.2,10.0,2013-01-01 04:00:00,3.9
8712,JFK,2013,1,1,4,39.02,24.98,56.77,260.0,14.96014,17.215830,0.0,1013.2,10.0,2013-01-01 05:00:00,3.9
8713,JFK,2013,1,1,6,39.02,26.06,59.37,260.0,12.65858,14.567241,0.0,1012.6,10.0,2013-01-01 07:00:00,3.9
8714,JFK,2013,1,1,7,39.02,26.06,59.37,270.0,11.50780,13.242946,0.0,1012.4,10.0,2013-01-01 08:00:00,3.9
8715,JFK,2013,1,1,8,39.92,26.96,59.50,260.0,14.96014,17.215830,0.0,1012.7,10.0,2013-01-01 09:00:00,4.4
8716,JFK,2013,1,1,9,39.92,28.04,62.21,250.0,17.26170,19.864419,0.0,1012.6,10.0,2013-01-01 10:00:00,4.4
8717,JFK,2013,1,1,10,39.02,26.96,61.63,260.0,14.96014,17.215830,0.0,1012.1,10.0,2013-01-01 11:00:00,3.9
8718,JFK,2013,1,1,11,37.94,26.96,64.29,260.0,13.80936,15.891535,0.0,1012.6,10.0,2013-01-01 12:00:00,3.3
8719,JFK,2013,1,1,12,39.02,28.04,64.43,260.0,13.80936,15.891535,0.0,1012.5,10.0,2013-01-01 13:00:00,3.9
8720,JFK,2013,1,1,13,39.92,26.96,59.50,260.0,17.26170,19.864419,0.0,1012.6,10.0,2013-01-01 14:00:00,4.4
8721,JFK,2013,1,1,14,39.92,26.96,59.50,260.0,16.11092,18.540125,0.0,1013.0,10.0,2013-01-01 15:00:00,4.4
8722,JFK,2013,1,1,15,41.00,28.04,59.65,260.0,16.11092,18.540125,0.0,1012.8,10.0,2013-01-01 16:00:00,5.0
8723,JFK,2013,1,1,16,41.00,26.96,57.06,270.0,14.96014,17.215830,0.0,1011.7,10.0,2013-01-01 17:00:00,5.0
8724,JFK,2013,1,1,17,39.92,26.06,57.33,290.0,17.26170,19.864419,0.0,1011.3,10.0,2013-01-01 18:00:00,4.4
8725,JFK,2013,1,1,18,37.40,26.60,64.70,340.0,14.96014,17.215830,0.0,NaN,10.0,2013-01-01 19:00:00,3.0
8726,JFK,2013,1,1,19,39.02,24.08,54.68,310.0,11.50780,13.242946,0.0,1011.2,10.0,2013-01-01 20:00:00,3.9
8727,JFK,2013,1,1,20,39.02,23.00,52.26,290.0,12.65858,14.567241,0.0,1011.7,10.0,2013-01-01 21:00:00,3.9
8728,JFK,2013,1,1,21,37.94,17.96,44.00,320.0,17.26170,19.864419,0.0,1012.1,10.0,2013-01-01 22:00:00,3.3
8729,JFK,2013,1,1,22,37.04,17.06,43.85,330.0,16.11092,18.540125,0.0,1013.2,10.0,2013-01-01 23:00:00,2.8
8730,JFK,2013,1,1,23,35.06,14.00,41.51,310.0,14.96014,17.215830,0.0,1014.2,10.0,2013-01-02 00:00:00,1.7
8731,JFK,2013,1,2,0,33.08,14.00,44.92,350.0,13.80936,15.891535,0.0,1014.3,10.0,2013-01-02 01:00:00,0.6
8732,JFK,2013,1,2,1,32.00,14.00,46.92,330.0,16.11092,18.540125,0.0,1015.1,10.0,2013-01-02 02:00:00,0.0
8733,JFK,2013,1,2,2,30.02,10.94,44.41,330.0,21.86482,25.161598,0.0,1015.3,10.0,2013-01-02 03:00:00,-1.1
8734,JFK,2013,1,2,3,28.94,10.94,46.41,320.0,16.11092,18.540125,0.0,1016.4,10.0,2013-01-02 04:00:00,-1.7
8735,JFK,2013,1,2,4,26.96,8.06,44.25,320.0,20.71404,23.837303,0.0,1016.5,10.0,2013-01-02 05:00:00,-2.8
8736,JFK,2013,1,2,5,26.06,8.06,45.93,320.0,18.41248,21.188714,0.0,1016.1,10.0,2013-01-02 06:00:00,-3.3
8737,JFK,2013,1,2,6,26.06,8.06,45.93,330.0,19.56326,22.513008,0.0,1016.4,10.0,2013-01-02 07:00:00,-3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15747,JFK,2013,10,21,18,64.94,35.96,34.06,180.0,9.20624,10.594357,0.0,1018.6,10.0,2013-10-21 19:00:00,18.3
15748,JFK,2013,10,21,19,64.04,41.00,42.82,170.0,13.80936,15.891535,0.0,1017.9,10.0,2013-10-21 20:00:00,17.8
15749,JFK,2013,10,21,20,62.96,39.92,42.65,180.0,16.11092,18.540125,0.0,1017.7,10.0,2013-10-21 21:00:00,17.2
15750,JFK,2013,10,21,21,60.98,39.92,45.74,180.0,18.41248,21.188714,0.0,1017.8,10.0,2013-10-21 22:00:00,16.1
15751,JFK,2013,10,21,22,60.08,42.98,53.15,190.0,18.41248,21.188714,0.0,1017.8,10.0,2013-10-21 23:00:00,15.6
15752,JFK,2013,10,21,23,60.08,46.04,59.72,190.0,19.56326,22.513008,0.0,1018.0,10.0,2013-10-22 00:00:00,15.6
15753,JFK,2013,10,22,0,59.00,48.92,69.17,200.0,17.26170,19.864419,0.0,1017.6,10.0,2013-10-22 01:00:00,15.0
15754,JFK,2013,10,22,1,59.00,46.94,64.22,200.0,16.11092,18.540125,0.0,1017.6,10.0,2013-10-22 02:00:00,15.0
15755,JFK,2013,10,22,2,59.00,46.94,64.22,210.0,16.11092,18.540125,0.0,1016.7,10.0,2013-10-22 03:00:00,15.0
15756,JFK,2013,10,22,3,59.00,48.02,66.88,200.0,16.11092,18.540125,0.0,1016.2,10.0,2013-10-22 04:00:00,15.0
15757,JFK,2013,10,22,4,59.00,48.02,66.88,210.0,16.11092,18.540125,0.0,1015.7,10.0,2013-10-22 05:00:00,15.0
15758,JFK,2013,10,22,5,57.92,48.02,69.52,210.0,11.50780,13.242946,0.0,1015.2,10.0,2013-10-22 06:00:00,14.4
15759,JFK,2013,10,22,6,55.94,48.02,74.67,220.0,10.35702,11.918651,0.0,1014.2,10.0,2013-10-22 07:00:00,13.3
15760,JFK,2013,10,22,7,55.04,48.02,77.15,220.0,9.20624,10.594357,0.0,1013.6,10.0,2013-10-22 08:00:00,12.8
15761,JFK,2013,10,22,8,55.94,50.00,80.40,220.0,11.50780,13.242946,0.0,1013.2,10.0,2013-10-22 09:00:00,13.3
15762,JFK,2013,10,22,9,53.96,48.92,83.00,230.0,9.20624,10.594357,0.0,1012.6,10.0,2013-10-22 10:00:00,12.2
15763,JFK,2013,10,22,10,55.94,48.92,77.23,230.0,11.50780,13.242946,0.0,1012.4,10.0,2013-10-22 11:00:00,13.3
15764,JFK,2013,10,22,11,57.02,48.92,74.27,220.0,9.20624,10.594357,0.0,1011.7,10.0,2013-10-22 12:00:00,13.9
15765,JFK,2013,10,22,12,60.98,50.00,67.11,200.0,14.96014,17.215830,0.0,1011.3,10.0,2013-10-22 13:00:00,16.1
15766,JFK,2013,10,22,13,62.96,48.92,60.11,210.0,16.11092,18.540125,0.0,1011.1,10.0,2013-10-22 14:00:00,17.2
15767,JFK,2013,10,22,14,64.04,46.94,53.73,220.0,13.80936,15.891535,0.0,1010.7,10.0,2013-10-22 15:00:00,17.8
15768,JFK,2013,10,22,15,66.92,46.04,46.98,230.0,12.65858,14.567241,0.0,1010.0,10.0,2013-10-22 16:00:00,19.4
15769,JFK,2013,10,22,16,66.02,46.94,50.14,230.0,11.50780,13.242946,0.0,1009.0,10.0,2013-10-22 17:00:00,18.9
15770,JFK,2013,10,22,17,68.00,46.04,45.26,230.0,13.80936,15.891535,0.0,1008.2,10.0,2013-10-22 18:00:00,20.0
15771,JFK,2013,10,22,18,66.20,44.60,45.60,290.0,16.11092,18.540125,0.0,NaN,10.0,2013-10-22 19:00:00,19.0
15772,JFK,2013,10,22,19,62.96,44.96,51.77,250.0,10.35702,11.918651,0.0,1008.0,10.0,2013-10-22 20:00:00,17.2
15773,JFK,2013,10,22,20,62.96,44.96,51.77,250.0,12.65858,14.567241,0.0,1008.3,10.0,2013-10-22 21:00:00,17.2
15774,JFK,2013,10,22,21,60.08,44.06,55.39,250.0,11.50780,13.242946,0.0,1008.5,10.0,2013-10-22 22:00:00,15.6
15775,JFK,2013,10,22,22,59.00,44.06,57.57,250.0,12.65858,14.567241,0.0,1008.8,10.0,2013-10-22 23:00:00,15.0
15776,JFK,2013,10,22,23,57.92,46.04,64.52,250.0,10.35702,11.918651,0.0,1009.1,1.0,NaN,14.4

In [28]:
jfk_grouped = jfk.groupby(['month', "day"]).mean()
print(jfk_grouped)

             year       hour       temp       dewp      humid    wind_dir  \
month day
1     1    2013.0  11.782609  38.871304  24.776522  56.926087  273.478261
      2    2013.0  11.500000  28.542500   9.837500  45.210417  320.000000
      3    2013.0  11.500000  29.772500  13.970000  51.621667  298.333333
      4    2013.0  11.500000  34.032500  19.452500  55.007917  256.250000
      5    2013.0  11.500000  36.897500  19.197500  48.918750  279.166667
      6    2013.0  11.500000  37.452500  28.302500  70.232500  237.500000
      7    2013.0  11.500000  41.862500  24.245000  50.292083  282.083333
      8    2013.0  11.500000  38.675000  28.227500  66.891667  195.000000
      9    2013.0  11.500000  40.835000  33.905000  76.847500  170.000000
      10   2013.0  11.500000  45.050000  25.647500  47.599167  293.333333
      11   2013.0  11.500000  40.115000  29.217500  65.903333   86.250000
      12   2013.0  11.500000  45.642500  43.880000  93.529167  127.083333
      13   2013.0  11.500000  44.000000  43.167500  96.950833  137.500000
      14   2013.0  11.500000  50.345000  45.147500  84.920833  215.000000
      15   2013.0  11.500000  39.087500  29.202500  68.182500  232.500000
      16   2013.0  11.500000  35.712500  31.085000  84.096667  111.666667
      17   2013.0  11.500000  40.190000  28.535000  64.559167  278.750000
      18   2013.0  11.500000  31.407500  11.787500  44.913333  265.416667
      19   2013.0  11.500000  38.172500  20.487500  49.191667  221.250000
      20   2013.0  11.500000  45.597500  25.107500  47.780000  236.250000
      21   2013.0  11.500000  30.860000  10.415000  42.420417  246.250000
      22   2013.0  11.500000  23.450000   4.497500  45.222500  288.333333
      23   2013.0  11.500000  15.665000  -6.677500  36.412917  293.750000
      24   2013.0  11.500000  17.900000  -3.917500  38.703333  287.083333
      25   2013.0  11.500000  18.185000   0.725000  46.618333  262.500000
      26   2013.0  11.500000  20.945000   9.800000  63.189583  306.666667
      27   2013.0  11.500000  25.415000   7.385000  47.429583  307.916667
      28   2013.0  11.500000  30.560000  20.667500  68.072500  193.750000
      29   2013.0  11.500000  39.297500  35.780000  87.372917  178.333333
      30   2013.0  11.500000  45.185000  43.827500  95.006667  139.166667
...           ...        ...        ...        ...        ...         ...
9     23   2013.0  11.500000  58.857500  39.687500  49.932500  333.750000
      24   2013.0  11.500000  59.660000  40.835000  52.792917  285.416667
      25   2013.0  11.500000  62.997500  44.300000  52.234583  229.166667
      26   2013.0  11.500000  62.330000  54.785000  76.962917  153.750000
      27   2013.0  11.500000  60.785000  51.042500  71.896250   63.333333
      28   2013.0  11.500000  64.302500  51.260000  64.204583  109.565217
      29   2013.0  11.500000  62.052500  53.007500  73.652083   73.750000
      30   2013.0  11.500000  61.137500  52.220000  74.250417  143.043478
10    1    2013.0  11.500000  67.467500  53.645000  64.665417  250.869565
      2    2013.0  11.500000  71.592500  58.115000  65.037917  255.833333
      3    2013.0  11.500000  70.985000  54.230000  57.437083  183.750000
      4    2013.0  11.500000  69.957500  61.242500  74.530000  174.166667
      5    2013.0  11.500000  68.255000  62.877500  83.378750   83.750000
      6    2013.0  11.500000  66.395000  64.107500  92.392083  108.750000
      7    2013.0  11.500000  70.227500  65.945000  86.601667  166.250000
      8    2013.0  11.500000  61.820000  43.535000  52.027917  306.250000
      9    2013.0  11.500000  58.970000  44.675000  59.411667   52.500000
      10   2013.0  11.500000  59.375000  50.847500  73.520833   41.666667
      11   2013.0  11.500000  63.732500  55.827500  75.697500   40.833333
      12   2013.0  11.500000  65.547500  49.010000  55.699583   50.833333
      13   2013.0  11.500000  61.062500  50.060000  67.605833   64.583333
      14   2013.0  11.500000  56.495000  46.617500  70.275000   98.333333
      15   2013.0  11.500000  58.385000  48.065000  71.693333   78.695652
      16   2013.0  11.500000  59.360000  53.772500  81.957500  141.250000
      17   2013.0  11.500000  63.785000  59.832500  87.307917  200.000000
      18   2013.0  11.500000  63.837500  48.672500  61.247083  251.250000
      19   2013.0  11.500000  58.227500  44.600000  61.025417  174.583333
      20   2013.0  11.500000  58.505000  40.482500  54.620417  271.250000
      21   2013.0  11.500000  57.470000  38.030000  49.697917  235.000000
      22   2013.0  11.500000  60.200000  47.217500  63.231667  226.250000

           wind_speed  wind_gust    precip     pressure      visib    celsius
month day
1     1     15.410445  17.734032  0.000000  1012.663636  10.000000   3.817391
      2     15.679378  18.043514  0.000000  1017.287500  10.000000  -1.920833
      3     11.316003  13.022230  0.000000  1021.225000  10.000000  -1.237500
      4     15.775276  18.153872  0.000000  1017.854167  10.000000   1.129167
      5     13.665512  15.725998  0.000000  1021.262500  10.000000   2.720833
      6      9.877528  11.366862  0.000000  1020.305556   8.937500   3.029167
      7     10.357020  11.918651  0.000000  1023.083333  10.000000   5.479167
      8      9.206240  10.594357  0.000000  1029.316667  10.000000   3.708333
      9      6.041595   6.952547  0.000000  1027.041667   9.500000   4.908333
      10    14.049106  16.167430  0.000000  1028.937500  10.000000   7.250000
      11     6.473137   7.449157  0.004167  1031.628571   9.458333   4.508333
      12     7.048527   8.111304  0.017083  1020.317391   3.375000   7.579167
      13     5.945697   6.842189  0.000000  1020.269231   2.114583   6.666667
      14     7.432121   8.552736  0.000417  1018.435294   3.697917  10.191667
      15     9.877528  11.366862  0.004583  1025.754545  10.000000   3.937500
      16     8.343155   9.601136  0.029583  1018.705556   7.166667   2.062500
      17    12.274987  14.125809  0.000000  1016.095652   9.958333   4.550000
      18    12.179088  14.015451  0.000000  1024.845833  10.000000  -0.329167
      19    16.110920  18.540125  0.000000  1025.941667  10.000000   3.429167
      20    17.645293  20.305851  0.000000  1010.754167  10.000000   7.554167
      21     9.637783  11.090967  0.000000  1016.791667   9.958333  -0.633333
      22    16.830158  19.367809  0.000417  1015.366667   9.395833  -4.750000
      23    16.062971  18.484946  0.000000  1023.191667   9.958333  -9.075000
      24    13.617563  15.670820  0.000000  1023.404167  10.000000  -7.833333
      25    10.596766  12.194546  0.000000  1028.395455   9.395833  -7.675000
      26    11.651648  13.408483  0.000833  1020.357143   9.083333  -6.141667
      27    11.699597  13.463662  0.000000  1030.916667  10.000000  -3.658333
      28     7.959562   9.159704  0.003333  1029.717647   7.458333  -0.800000
      29     7.959562   9.159704  0.002917  1019.020000   5.750000   4.054167
      30    12.658580  14.567241  0.001250  1011.490909   1.608750   7.325000
...               ...        ...       ...          ...        ...        ...
9     23    12.418834  14.291346  0.000000  1014.691667  10.000000  14.920833
      24     9.350088  10.759894  0.000000  1015.787500  10.000000  15.366667
      25     7.911613   9.104525  0.000000  1013.637500  10.000000  17.220833
      26     7.048528   8.111304  0.000000  1015.800000  10.000000  16.850000
      27     6.569036   7.559515  0.000000  1021.925000  10.000000  15.991667
      28     7.240324   8.332020  0.000000  1025.416667  10.000000  17.945833
      29     6.041595   6.952547  0.000000  1022.391667  10.000000  16.695833
      30     5.418256   6.235220  0.000000  1017.979167  10.000000  16.187500
10    1      8.295206   9.545957  0.000000  1015.145833  10.000000  19.704167
      2      9.254189  10.649536  0.000000  1014.375000   9.958333  21.995833
      3      6.281341   7.228441  0.000000  1018.150000   9.958333  21.658333
      4      6.952629   8.000947  0.000000  1017.504167   9.291667  21.087500
      5      5.705951   6.566294  0.000417  1017.721053   6.708333  20.141667
      6      9.445986  10.870252  0.000000  1018.795652   2.510417  19.108333
      7     15.391683  17.712440  0.001667  1014.262500   7.708333  21.237500
      8     11.939343  13.739557  0.000000  1020.841667  10.000000  16.566667
      9     10.500868  12.084188  0.000000  1027.612500  10.000000  14.983333
      10    14.288852  16.443325  0.000000  1023.273913  10.000000  15.208333
      11    16.206818  18.650482  0.000000  1017.539130   9.916667  17.629167
      12    14.001157  16.112251  0.000000  1020.413636  10.000000  18.637500
      13    13.090122  15.063851  0.000000  1027.239130  10.000000  16.145833
      14     6.281341   7.228441  0.000000  1027.350000  10.000000  13.608333
      15     5.466205   6.290399  0.000000  1023.533333  10.000000  14.658333
      16     5.082612   5.848968  0.000000  1018.730000  10.000000  15.200000
      17     8.199307   9.435599  0.000000  1012.217647   8.229167  17.658333
      18    16.542463  19.036735  0.000000  1010.080952   9.750000  17.687500
      19     6.425188   7.393978  0.000000  1014.045833  10.000000  14.570833
      20    13.425767  15.450104  0.000000  1012.330435   9.958333  14.725000
      21     9.925477  11.422041  0.000000  1019.245833  10.000000  14.150000
      22    12.946275  14.898314  0.000000  1012.160870   9.625000  15.666667

[295 rows x 12 columns]

In [37]:
jfk_grouped['match'] = jfk_grouped.celsius.gt(jfk_grouped.celsius.shift())
jfk_grouped.head(10)

             year       hour       temp       dewp      humid    wind_dir  \
month day
1     1    2013.0  11.782609  38.871304  24.776522  56.926087  273.478261
      2    2013.0  11.500000  28.542500   9.837500  45.210417  320.000000
      3    2013.0  11.500000  29.772500  13.970000  51.621667  298.333333
      4    2013.0  11.500000  34.032500  19.452500  55.007917  256.250000
      5    2013.0  11.500000  36.897500  19.197500  48.918750  279.166667
      6    2013.0  11.500000  37.452500  28.302500  70.232500  237.500000
      7    2013.0  11.500000  41.862500  24.245000  50.292083  282.083333
      8    2013.0  11.500000  38.675000  28.227500  66.891667  195.000000
      9    2013.0  11.500000  40.835000  33.905000  76.847500  170.000000
      10   2013.0  11.500000  45.050000  25.647500  47.599167  293.333333

           wind_speed  wind_gust  precip     pressure    visib   celsius  \
month day
1     1     15.410445  17.734032     0.0  1012.663636  10.0000  3.817391
      2     15.679378  18.043514     0.0  1017.287500  10.0000 -1.920833
      3     11.316003  13.022230     0.0  1021.225000  10.0000 -1.237500
      4     15.775276  18.153872     0.0  1017.854167  10.0000  1.129167
      5     13.665512  15.725998     0.0  1021.262500  10.0000  2.720833
      6      9.877528  11.366862     0.0  1020.305556   8.9375  3.029167
      7     10.357020  11.918651     0.0  1023.083333  10.0000  5.479167
      8      9.206240  10.594357     0.0  1029.316667  10.0000  3.708333
      9      6.041595   6.952547     0.0  1027.041667   9.5000  4.908333
      10    14.049106  16.167430     0.0  1028.937500  10.0000  7.250000

           match
month day
1     1    False
      2    False
      3     True
      4     True
      5     True
      6     True
      7     True
      8    False
      9     True
      10    True

In [29]:
jfk_grouped.sort_values('celsius', ascending=False).head(5)

             year  hour     temp     dewp      humid    wind_dir  wind_speed  \
month day
7     17   2013.0  11.5  87.0425  66.2900  50.984167  222.500000    7.144426
      16   2013.0  11.5  86.8700  65.9675  52.828333  238.333333    9.541884
      20   2013.0  11.5  86.4425  71.9450  63.582500  236.956522   14.910106
      18   2013.0  11.5  86.4350  71.7050  63.893333  236.086957    9.637782
      19   2013.0  11.5  86.3375  75.9725  72.028750  192.916667   10.452918

           wind_gust  precip     pressure      visib    celsius
month day
7     17    8.221662     0.0  1020.970833  10.000000  30.579167
      16   10.980609     0.0  1021.312500  10.000000  30.483333
      20   17.158252     0.0  1008.926087   8.750000  30.245833
      18   11.090967     0.0  1017.020833   9.666667  30.241667
      19   12.029009     0.0  1013.420833   8.375000  30.187500

In [22]:
flights.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour,celsius
0,EWR,2013,1,1,0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0,2013-01-01 01:00:00,2.8
1,EWR,2013,1,1,1,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0,2013-01-01 02:00:00,2.8
2,EWR,2013,1,1,2,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0,2013-01-01 03:00:00,3.3
3,EWR,2013,1,1,3,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0,2013-01-01 04:00:00,3.3
4,EWR,2013,1,1,4,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0,2013-01-01 05:00:00,3.3

In [23]:
display(flights[["year", "month", "day"]].head())

   year  month  day
0  2013      1    1
1  2013      1    1
2  2013      1    1
3  2013      1    1
4  2013      1    1

In [25]:
display(flights[["hour", "temp", "dewp", "humid", "wind_dir", "wind_speed", "wind_gust", "precip", "pressure", "visib", "time_hour", "celsius", "origin"]].head())

,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour,celsius,origin
0,0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0,2013-01-01 01:00:00,2.8,EWR
1,1,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0,2013-01-01 02:00:00,2.8,EWR
2,2,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0,2013-01-01 03:00:00,3.3,EWR
3,3,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0,2013-01-01 04:00:00,3.3,EWR
4,4,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0,2013-01-01 05:00:00,3.3,EWR

In [26]:
url1 = "https://raw.githubusercontent.com/DavidePosillipo/ProbabilityAndStatistics/master/Assignment_1/data/some_birth_dates1.csv"

In [27]:
url2 = "https://raw.githubusercontent.com/DavidePosillipo/ProbabilityAndStatistics/master/Assignment_1/data/some_birth_dates2.csv"

In [28]:
url3 = "https://raw.githubusercontent.com/DavidePosillipo/ProbabilityAndStatistics/master/Assignment_1/data/some_birth_dates3.csv"

In [40]:
A = pd.read_table(url1, sep=',')
A.head()
B = pd.read_table(url2, sep=',')
B.head()
C = pd.read_table(url3, sep=',')
C.head()

                 Name   BirthDate
0         Jodoc Alwin  16.11.1969
1  Hushang Naigamwala  25.08.1991
2            Zhen Wei  16.11.1975
3       Noe Tae-Woong  11.07.1970
4    Didier Cuvillier  24.04.1938

In [44]:
D = pd.merge(A, B, on='Name', how='outer')
print(D)

                   Name BirthDate_x BirthDate_y
0      Paitoon Ornwimol  26.06.1958         NaN
1          Antónia Lata  20.05.1935         NaN
2     Bertoldo Mallozzi  17.08.1972         NaN
3         Nedeljko Bukv  19.12.1921         NaN
4         Micha Kitchen  17.09.1930  17.09.1930
5       Mefodiy Shachar  01.10.1914  01.10.1914
6          Paul Meckler  29.09.1968  29.09.1968
7       Katarzyna Lasko  20.10.1971  20.10.1971
8          Åge Trelstad  07.03.1935  07.03.1935
9   Duchanee Panomyaong  19.06.1952  19.06.1952
10   Hushang Naigamwala         NaN  25.08.1991
11             Zhen Wei         NaN  16.11.1975
12          Jodoc Alwin         NaN  16.11.1969
13           Igor Mazał         NaN  14.05.2004
14        Noe Tae-Woong         NaN  11.07.1970

In [46]:
E = pd.merge(D, C, on="Name", how="outer")
print(E)

                   Name BirthDate_x BirthDate_y   BirthDate
0      Paitoon Ornwimol  26.06.1958         NaN         NaN
1          Antónia Lata  20.05.1935         NaN         NaN
2     Bertoldo Mallozzi  17.08.1972         NaN         NaN
3         Nedeljko Bukv  19.12.1921         NaN         NaN
4         Micha Kitchen  17.09.1930  17.09.1930         NaN
5       Mefodiy Shachar  01.10.1914  01.10.1914         NaN
6          Paul Meckler  29.09.1968  29.09.1968         NaN
7       Katarzyna Lasko  20.10.1971  20.10.1971         NaN
8          Åge Trelstad  07.03.1935  07.03.1935         NaN
9   Duchanee Panomyaong  19.06.1952  19.06.1952         NaN
10   Hushang Naigamwala         NaN  25.08.1991  25.08.1991
11             Zhen Wei         NaN  16.11.1975  16.11.1975
12          Jodoc Alwin         NaN  16.11.1969  16.11.1969
13           Igor Mazał         NaN  14.05.2004         NaN
14        Noe Tae-Woong         NaN  11.07.1970  11.07.1970
15     Didier Cuvillier         NaN         NaN  24.04.1938
16    El Bachir al-Aziz         NaN         NaN  24.01.1999
17     Garikoitz Oguiza         NaN         NaN  27.05.1970
18       Magyar Flórián         NaN         NaN  29.12.1962
19     Eufebio Mascioli         NaN         NaN  11.06.1921
20           Aline Rush         NaN         NaN  04.09.1916
21        Lamija Osmond         NaN         NaN  11.04.1926
22       Étienne Chaney         NaN         NaN  04.09.1983
23       Ewelina Musial         NaN         NaN  01.12.1962
24             Yang Xun         NaN         NaN  13.04.1992
25  Gavrilo Dzenopoljac         NaN         NaN  21.07.1927
26             Tang Xia         NaN         NaN  28.04.1989
27         Mifune Nampo         NaN         NaN  18.10.1926
28       Mamuka Tercero         NaN         NaN  14.09.1912
29       Juba Kunimatsu         NaN         NaN  31.07.1929

In [47]:
F = pd.merge(A, B, on='Name', how='inner')
print(F)

                  Name BirthDate_x BirthDate_y
0        Micha Kitchen  17.09.1930  17.09.1930
1      Mefodiy Shachar  01.10.1914  01.10.1914
2         Paul Meckler  29.09.1968  29.09.1968
3      Katarzyna Lasko  20.10.1971  20.10.1971
4         Åge Trelstad  07.03.1935  07.03.1935
5  Duchanee Panomyaong  19.06.1952  19.06.1952

In [48]:
G = pd.merge(A, C, on='Name', how='inner')
print(G)

Empty DataFrame
Columns: [Name, BirthDate_x, BirthDate_y]
Index: []

In [49]:
H = pd.merge(A, B, on='Name', how='left')
print(H)

                  Name BirthDate_x BirthDate_y
0     Paitoon Ornwimol  26.06.1958         NaN
1         Antónia Lata  20.05.1935         NaN
2    Bertoldo Mallozzi  17.08.1972         NaN
3        Nedeljko Bukv  19.12.1921         NaN
4        Micha Kitchen  17.09.1930  17.09.1930
5      Mefodiy Shachar  01.10.1914  01.10.1914
6         Paul Meckler  29.09.1968  29.09.1968
7      Katarzyna Lasko  20.10.1971  20.10.1971
8         Åge Trelstad  07.03.1935  07.03.1935
9  Duchanee Panomyaong  19.06.1952  19.06.1952